<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="/base :: head"></head>
  <body>
  <nav th:replace="/base :: nav"></nav>
  <h2 class="mx-auto w-50 text-center mt-5">Alumnos registrados</h2>
  <div class="w-100 mx-auto px-5 my-4">
    <div class="row">
      <div class="col-4 h5">Titulo</div>
      <div class="col-6 h5">Descripcion</div>
      <div class="col-2 h5">Fecha de creacion</div>
    </div>
    <hr class="my-2 border-5">
    <div th:each="curso : ${cursos}" class="row">
      <div th:text="${curso.getTitulo()}" class="col-4 h5"></div>
      <div th:text="${curso.getDescripcion()}" class="col-6 h5"></div>
      <div th:text="${curso.getFecha_creacion_string()}" class="col-2 h5"></div>
      <hr class="my-1 border-2">
    </div>
  </div>



  <footer th:replace="/base :: footer"></footer>

  <script th:replace="/base :: scriptBootstrap"></script>
</body>
</html>